@media screen and (min-width: 768px) {

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        width: auto;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}